.wrapper {
  background-color: #ffffff;
  position: absolute;
  top: 4rem;
  width: 100%;
  padding: 1rem;
  height: calc(100% - 4rem);
}

.gridFluid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}