:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
}

/* .input {
  position: relative;
  margin: 1rem;
}

.inputLabel {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: #fff;
  transition: transform 120ms ease-in;
  font-weight: normal;
  line-height: 1.2;
} */

/* .inputField {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
} */

/* .inputField:focus + .inputLabel, .inputField:not(:placeholder-shown) + .inputLabel {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #90314b;
} */

.inputFile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.inputFile + label {
  max-width: 150px;
  font-size: .9rem;
  font-weight: 700;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: .65rem 1.25rem;
  /* position: relative;
  left: -1rem; */
  border-radius: var(--size-radius);
}

.inputFile + label svg {
  width: 1rem;
  height: 1rem;
  color: #fff;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -.25rem;
  margin-right: .25rem;
}

.inputFile + label {
  color: #fff;
  /* margin: 1rem; */
  background-color: #90314b;
}

.title {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 1rem 0;
  color: #fff;
  background-color: #90314b;
  border-radius: 4px 4px 0 0;
}

.travel {
  font-size: .9rem;
  margin-left: .4rem;
}

.wrapper {
  width: 500px;
  height: 600px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
