.bg {
  background-image: url(../../images/loginStudent.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg h1 {
  width: 350px;
  backdrop-filter: blur(10px);
  font-weight: bold;
  color: #fff;
  padding: 1rem;
}

.btLogin { width: 490px; }

.error {
  font-weight: 300;
  color: #dc3545;
  text-align: left;
}

.form {
  width: 700px;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.wrapperBtnLogin {
  width: 490px;
  margin-left: 1rem;
}

.work {
  color: #a5d0d8;
  font-size: 2.5rem;
}

.welcome {
  text-align: center;
}

.welcome h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #a8dee7;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.welcome span {
  color: #b9b9b9;
  font-size: .9rem;
  text-align: center;
}


/* ESTILOS DEL FORMULARIO DE CREAR CUENTA EMPRESA */
.inputGroup {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}