.container {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  overflow: hidden;
  color: #000;
  min-height: 250px;
  width: 40%;
  border-radius: 0 0 4px 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  min-width: 600px;


}


.stepper {
  width: 150px;
  display: flex;
  margin-right: 190px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 180px;

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 50px;
}


.button {
  padding: 1px 15px;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
}

.button:hover {
  background-color: #8e0f4a1e;
}

.space {
  width: 30px;
}

.containerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 180px;
  min-width: 600px;
}

.icon {
  vertical-align: middle;
  font-size: 14px;
  margin-right: 3px;
}


.inputGroup {
  width: 490px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 1rem;
}

.inputCheckbox {
  width: 490px;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin-left: 25px;
}


.inputGroupCheckbox {
  width: 490px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}


.select {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 490px;
}

.text {
  text-align: left;
}