.container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
    overflow: hidden;
    color: #000;
    border-radius: 0 0 4px 4px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 440px;

}


.container2 {
  display: flex;
  margin-left: 30px;
  min-width: 600px;
  min-height: 400px;
  

}

.stepper {
  width: 150px;
  display: flex;
  margin-right: 190px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 180px;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 50px;
}


.button {
  padding: 1px 15px;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
}

.button:hover {
  background-color: #8e0f4a1e;
}

.space {
  width: 30px;
}

.containerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 370px;
  min-width: 600px;
  
}

.icon {
  vertical-align: middle;
  font-size: 14px;
  margin-right: 3px;
}


.inputGroup {
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 1rem;
  
}

.inputGroupP {
  display: flex;
  margin:1em;
}

.inputGroupP1 {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 1rem;
}


.Col1{
  display: flex;
  margin-right:1em;
}
.Col2{
  text-align: left;
}

.Col4{
  margin-right: 2em;
}

.Col3{

  text-align: left;
}

.Col21{
  margin:30px;
}

.texto{
  margin-bottom: 7px;
}


.inputCheckbox {
  justify-content: center;
  align-items: center;
  text-align: left;
}

.inputGroupCheckbox {
  width: 490px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.select {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 490px;
}

.text { text-align: left; }