.btnAdd {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  width: 100px;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
}

.form {
  /* background-color: red; */
  position: absolute;
  top: 4rem;
  left: 0;
  /* outline: 2px solid purple; */
  height: 250px;
}

.inputGroup_1_2 {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  /* outline: 2px solid red; */
  position: relative;
  top: -2rem;
}

.subTitle {
  color: #000;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #028dd4;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.wrapperForm {
  position: relative;
  top: 2rem;
  height: 100%;
}
