/* * {
  outline: 2px solid red;
} */

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
}

.body { height: 647px; overflow-y: scroll; padding-top: 1rem; }

.positionSticky {
  /* margin-top: 140px; */
  font-family: sans-serif;
  position: sticky;
  top: 100px;
}

.actions {
  width: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.btnApplyEmployment {
  background-color: transparent;
  border: none;
  outline: 2px solid #90314b;
  padding: .6rem;
  border-radius: 3px;
  transition: background-color .3s ease-in;
}

.btnApplyEmployment:hover {
  background-color: #90314b;
  color: #fff;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
}

.flex ul { margin-top: .5rem; }

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border-bottom: 2px solid rgba(0,0,0,.08);
}

.requirements ul {
  padding: 0;
}

.tagsBody {
  /* outline: 2px solid blue; */
  width: 400px;
}

.title {
  color: #123b66;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
}

.wrapper {
  background-color: #fff;
  font-family: sans-serif;
  height: 800px;
  width: 100%;
  border-radius: 8px;
  outline: 1px solid #ccc;
  padding: .4rem 0 1rem 0;
}

.wrapper::-webkit-scrollbar { width: 8px; }

.wrapper::-webkit-scrollbar-track { background-color: #d8d8d8; }

.wrapper::-webkit-scrollbar-thumb {
  background-color: #90314b;
  border-radius: 20px;
}