.home {
  height: 100vh;
}

.filteredControls {
  position: relative;
  top: 4rem;
  width: 650px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* outline: 1px solid #ccc; */
}

.totalJobs {
  position: relative;
  left: 18.5rem;
  font-weight: 500;
  color: #636363;
}

.wrapperJobList {
  position: relative;
  top: 7rem
}

.wrapperDeck {
  background-color: #f6f8fb;
  position: relative;
  top: 9rem;
}

.wrapperDeck h2 {
  color: #194695;
  text-transform: uppercase;
  margin-left: 7rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}