.heroReleases {
  background-image: url(../../images/bgComunicado.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
}

.realeaseLink {
  width: 260px;
  height: 260px;
}

.gridReleases {
  box-shadow: #00000029 0px 1px 4px;
  background-color: #f6f8fb;
  position: relative;
  top: 3rem;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  padding: 1rem;
}

.title {
  color: #039ebd;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  top: 5rem;
  left: 50rem;
  display: block;
  width: 14.5ch;
  white-space: nowrap;
  border-right: 4px solid;

  animation: typing 2s steps(14), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.wrapperReleases {
  position: relative;
  top: 4rem;
  width: 100%;
  background-color: #fff;
  /* max-height: 100vh; */
  /* height: 93.4vh; */
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}