[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
django-freeze = "*"
django-simple-history = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server = "python3 manage.py runserver"
makemigrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate"
startapp = "python3 manage.py startapp"
createsuperuser = "python3 manage.py createsuperuser"
