/* HEADER */
.header {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}

/* NAV */
.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.navList {
  width: 500px;
  display: flex;
  align-items: center;
}

.navLogo {
  color: #fff;
  width: 110px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.navLogo span {
  color: #018dd4;
  font-weight: bold;
  font-size: 1.5rem;
}

.navLogo:hover { color: #fff; }

.navLink {
  color: #fff;
  font-weight: 300;
}

.navLink:hover { color: #fff; }

.navList {
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
