/* HEADER */
.header {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8E0F4B;
  z-index: 10;
}

/* NAV */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  width: 500px;
  display: flex;
  align-items: center;
}

.navLogo {
  color: #fff;
  margin-left: 1rem;
  font-weight: bold;
}

.navLogo:hover { color: #fff; }

.navLink {
  color: #fff;
  font-weight: 300;
}

.navLink:hover { color: #fff; }

.navList {
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
