/* HEADER */
.header {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8E0F4B;
  z-index: 100;
}

/* NAV */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  /* outline: 1px solid blue; */
  width: 300px;
  display: flex;
  align-items: center;
}

.navLogo {
  color: #fff;
  margin-left: 1rem;
}

.navLogo:hover {
  color: #fff;
}

.navList,
.navLink {
  display: flex;
}

.navLink {
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  color: #fff;
  font-weight: 300;
  transition: color .4s ease-in;
}

.navLink:hover {
  color: #fff;
}

.navList {
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
