/* ESTILOS DEL COMPONENTE CARD JOB */

.card:focus {
  background-color: red;
}

.card {
  position: relative;
  width: 550px;
  height: auto;
  margin-bottom:1rem;
  background-color: #fff;
  border: 1px solid #dadada;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow .3s ease-in;
  color: #222;
  padding: .4rem 0 .4rem 1rem;
  font-family: sans-serif;
}

.card:hover { box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
                          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.card .cardHeader h3 { width: 450px; }

.cardHeader::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  border-left: 5px solid #8E0F4B;
}

.lineClamp {
  display: -webkit-box;
  margin: .5rem 0 .5rem 0;
  width: 450px;
  color: #7c7c7c;
  font-size: 1rem;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.nameCompany {
  font-size: .9rem;
  font-weight: 700;
  color: #222;
  font-weight: bold;
}

.notLogo {
  color: #acacac;
  font-size: 5rem;
}

.placeholder {
  width: 450px;
  background-color: #ccc;
  border-radius: 3px;
  animation-name: placeholder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.title {
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}

.wrapper {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.wrapperTags { 
  width: 350px; 
  height: 90px; 
  display: flex; 
  flex-direction: column; 
  align-items: baseline; 
  justify-content: space-between; 
}

.wrapperTags span {
  font-weight: 400;
  color: #000;
}

.logoBusiness {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.logoBusiness img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}