.CompOne {
    width: 55%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    /*border-color: black;
    border-width: 1px;
    border-style: solid;*/
}

.contaCards{
    display: flex;

}

.Cards{
    margin-top: 1em;
    display: flex;
    margin-left: 2em;
}
