.modal{
    width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
    background-color:white;
}