.goToJobs {
  color: #000;
}

.goToJobs > svg {
  font-size: 1.4rem;
}

.descriptionJob {
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
}

.listItem {
  display: flex;
  margin-top: 1rem;
  padding: 0;
}

.item {
  margin-right: 1rem;
  font-size: .9rem;
  color: #00008b;
  font-family: 'Poppins', sans-serif;
}

.summaryJob {
  outline: 1px solid rgb(221, 221, 221);
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: box-shadow .3s ease-in;
}

.summaryJob:hover {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.titleJob {
  font-size: 1.5rem;
  margin-top: .8rem;
  color: #0389d4;
}

.headerJob {
  font-family: 'Poppins', sans-serif;
  padding: 1rem 1rem 0 1rem;
}