.actions {
  color: #000;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions button {
  margin-bottom: .5rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 30px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.body {
  background-color:#191F28;
  color: #fff;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.btnAddProject {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #028dd4;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #028ed43f;
  /* z-index: 99; */
  margin-bottom: .3rem;
}

.container_botton {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin: .5rem;
}

.btnDeleteExperience {
  border: none;
  height: 3rem;
  width: 120px;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: background-color .3s ease;
}

.btnDeleteExperience:hover {
  background-color: #ff0000;
  color: #fff;
}

.circleDelete {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fc1f39;
}

.date {
  font-size: .7rem;
  color: #fff;
}

.editAction, .deleteAction { color: #fff;  transition: color .5s ease;}

.editAction:hover {
  color: #34BBFF;
}
.deleteAction:hover {
  color: #ff0000;
}

.icon {
  font-size: 3rem;
  margin-right: 1rem;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.logoProject {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}

.tittleProjectExperience {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 2rem;
  background-color: #FBE5D5;
  color: #C52707;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #fff;
  overflow-y: auto;
  padding: 0 0 .5rem .5rem;
}

.listAcademicRecord {
  width: 100%;
  padding: .5rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.wrapperCircle {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}