:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
}

/* ESTILOS PARA EL ELEMENTO INPUT */
.input {
  position: relative;
  width: 400px;
}

.inputLabel {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: #fff;
  transition: transform 120ms ease-in;
  font-weight: normal;
  line-height: 1.2;
}

.inputField {
  box-sizing: border-box;
  display: block;
  width: 400px;
  border: 1px solid #ccc;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: #fff;
  border-radius: var(--size-radius);
}

.inputField:focus + .inputLabel, .inputField:not(:placeholder-shown) + .inputLabel {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #1976d2;
}
