.image {
  width: 100%;
}

.noImage {
  color: #dfdde0;
  font-size: 60px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
  
}

.wrapper {
  position: relative;
  top: 4rem;
}