.nameJob {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(27deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 0 .5rem 0;
}

.paragraph {
  margin: .4rem 0 0 0;
  /* font-weight: bold; */
}

.applicationDate {
  font-size: .9em;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tags {
  /* outline: 2px solid red; */
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  /* justify-content: space-between; */
}

.wrapper {
  font-size: .9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  outline: 1px solid #00000075;
  background-color: #fff;
  border-radius: 4px;
  width: 480px;
  height: 200px;
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
