.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.678);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.isOpen { display: flex; }

.modalContainer {
  position: relative;
  max-width: 1000px;
  min-height: 600px;
  overflow-y: auto;
  padding: 1rem;
  border-radius: .5rem;
}

.modalClose {
  position: absolute;
  top: .5rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.7rem;
}