:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
}

.actions {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* outline: 2px solid blue; */
}

.inputFile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.inputFile + label {
  max-width: 150px;
  font-size: .9rem;
  font-weight: 700;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: .65rem 1.25rem;
  /* position: relative;
  left: -1rem; */
  border-radius: var(--size-radius);
}

.inputFile + label svg {
  width: 1rem;
  height: 1rem;
  color: #fff;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -.25rem;
  margin-right: .25rem;
}

.inputFile + label {
  color: #fff;
  /* margin: 1rem; */
  background-color: #90314b;
}

.inputGroup {
  /* background-color: blue; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: stretch; */
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 1rem 0;
  color: #fff;
  background-color: #90314b;
  border-radius: 4px 4px 0 0;
}

.travel {
  font-size: .9rem;
  margin-left: .4rem;
}

.wrapper {
  position: relative;
  /* width: 90%; */
  height: 700px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
