/* ESTILOS PARA EL COMPONENTE CARDJOBLIST */

.grid {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  position: relative;
  border: none;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  margin: .5rem;
  background-color: #2687ab;
  color: #fff;
  z-index: 1;
  transition: background-color .3s ease;
}

.icon {
  font-size: 1.3rem;
  color: #fff;
}

.wrapper {
  width: 70%;
  min-height: 100vh;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}

/* SIN VACANTES */

.notJobs {
  width: 100%;
  height: calc(100vh - 300px - 4rem);
  position: relative;
  display: grid;
  place-content: center;
}
