
.totalJobs {
  position: relative;
  left: 17.6rem;
  font-weight: 500;
  color: #636363;
}

.wrapperJobList {
  position: relative;
  top: 3rem
}

.wrapperDeck {
  background-color: #eeeeee;
  position: relative;
  top: 5rem;
}

.wrapperDeck h2 {
  margin-left: 5.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}