@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Quicksand';
}

body::-webkit-scrollbar { width: 8px; }

body::-webkit-scrollbar-track { background-color: #ffffff; }

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
