:root {
  --bg-color_1: #EADBFD;
  --bg-color_2: #D7F3E8;
  --bg-color_3: #DBECFC;

  --color_1: #9F6AE3;
  --color_2: #69D8A3;
  --color_3: #45A5EA;

  --link-color: #0B1033;
  --font-size-mobile-M: .77rem;
  --font-family-mobile-M: 'Secular One', sans-serif;

  --Medio: #ffe180;
  --color-level_2: #ffae00;
  --Avanzado: #fd8787;
  --color_level_3: #ff0000;
}

html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #FFF;
}

a {
  text-decoration: none;
}
