.containerFlex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.input {
  width: 200px;
  border: none;
  padding: .8rem;
  /* border-radius: 8px; */
  border-bottom: 1px solid;
  outline: none;
}

.title {
  /* border: 1px solid red; */
  width: 200px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 1rem;
}

.title span {
  font-size: 1rem;
  color: #8E0F4B;
  margin-left: .7rem;
  font-weight: 700;
}

.w100 {
  /* border: 1px solid red; */
  width: 100px;
}

.inputGroup {
  margin-right: 20;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.laboralDays{
  margin-bottom: 10px;
}

.inputGroupCheckbox {
  width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}