.groupFormTitleJob {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.closeJob {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: red;
}

.form1 {
  width: 700px;
  margin-top: 2rem;
}

.inputCheckbox {
  justify-content: center;
  align-items: center;
  text-align: left;
}

.btn {
  padding: .6rem;
  /* margin-right: 1rem; */
  border: none;
  outline: none;
  width: 200px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: .4rem;
  font-size: 1.2rem;
}

.boxForm {
  outline: 1px solid blue;
  width: 100%;
  margin: 0 auto;
}

.btnNextForm {
  /* outline: 1px solid red; */
  width: 150px;
  height: 3rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.btnNextForm button {
  width: 100%;
  height: 3rem;
  background-color: blue;
  color: #fff;
  border: 1px solid blue;
}

.error {
  font-size: .8rem;
  font-weight: 300;
  color: #dc3545;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.inputGroup {
  margin-right: 20;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.wrapperCP {
  /* outline: 1px solid red; */
  width: 800px;
  margin-right: 20;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.form {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 830px;
  padding: 1rem;
}

.groudButton {
  bottom: 0;
  right: 0;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem;
}

.select {
  position: relative;
  display: flex;
  width: 400px;
  height: 3rem;
  list-style: 3;
  background-color: #fff;
  overflow: hidden;
  outline: 1px solid #ccc;
  border-radius: 3px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 1rem;
  background-color: #ccc;
  cursor: pointer;
  pointer-events: none;
  transition: .2s all ease;
}

/* inicio */
.switch {
  --button-width: 3em;
  --button-height: 1.5em;
  --toggle-diameter: 1em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #3a3c3d;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  left: 0;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.closeJobDate {
  background-color: #0d75d7;
  color: #000;
  width: 140px;
  height: 2.2rem;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.closeJobDate:focus {
  outline:none;
  border-color:#3acfff;
  box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border-radius: .2rem;
  cursor: pointer;
  margin-right: .2rem;
}

/* fin */

.textArea {
  width: 100%;
  border-radius: 8px;
  border-color: #d4d4d6;
  outline: none;
  text-indent: 8px;
}

.title {
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
}

.to {
  color: #000;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem;
}

.wrapper {
  position: relative;
  top: 0;
  width: 100%;
  /* outline: 2px solid blue; */
  font-family: 'Poppins', sans-serif;
}

.wrapperGroupInput {
  width: 100%;
}

.wrapperTown {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.wrapperNumberLocation {
  margin-top: 1rem;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.wrapperButtons {
  /* outline: 1px solid red; */
  position: absolute;
  bottom: .5rem;
  right: 0;
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.wrapperFormJobDetails {
  position: relative;
  top: 2rem;
  height: 700px;
  /* background-color: rebeccapurple; */
}

.wrapperSwitch {
  /* outline: 2px solid red; */
  width: 160px;
  display: flex;
  gap: .4rem;
  margin-bottom: 2px;
}

.inputGroupCheckbox {
  width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.wrapperAddSkill{
  display: flex;
}

.SkillsWrapper{
  height: 200px;
  background-color:lightblue;
}

.titleSkills {
  display: flex;
  align-items: center;
  gap: .2rem;
  margin-bottom: .4rem;
  /* font-size: 1.2rem; */
}
