.actions {
  color: #000;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.actions button {
  margin-bottom: .5rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 30px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.btnAddProject {
  position: sticky;
  top: 22rem;
  left: 37rem;
  bottom: .5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #028dd4;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #028ed43f;
  z-index: 99;
}

.btnDeleteExperience {
  border: none;
  height: 3rem;
  width: 120px;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  background-color: #232436;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  transition: background-color .3s ease;
}

.btnDeleteExperience:hover {
  background-color: #ff0000;
  color: #fff;
}

.circleDelete {
  height: 8rem;
  width: 8rem;
  /* position: absolute; */
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fc1f39;
}


.dateEnd {
  font-size: 1rem;
  color: #5c5c5c;
}

.detailsCertification {
  position: relative;
  left: 0;
  width: 450px;
  display: flex;
  gap: .5rem;
  background-color: #F5F7F8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.detailsCertification a {
  color: #5c5c5c;
  font-size: .78rem;
  position: relative;
  top: -1rem;
  left: .5rem;
}

.descriptionCertification {
  /* background-color: red; */
  width: 450px;
  height: auto;
  overflow: hidden;
}

.editAction,
.deleteAction {
  color: #363636;
  transition: color .5s ease;
}

.editAction:hover {
  color: #028dd4;
}

.deleteAction:hover {
  color: #fc1f39;
}


.groupDetails {
  width: 500px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background-color: blue; */
  margin-left: .5rem;
}

.titleCertification {
  margin: 0;
  font-size: 1rem;
  color: #363636;
  width: 450px;
}

.groupDetails span {
  font-weight: 400;
}

.noLink {
  width: 500px;
  height: 90px;
  margin-left: .5rem;
  font-family: 'Poppins', sans-serif;
}

.partnership {
  font-weight: 700;
  color: #028dd4;
  text-transform: capitalize;
  /* background-color: red; */
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}

.mainWrapper {
  /* outline: 2px solid red; */
  position: absolute;
  top: 3rem;
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  text-align: center;
  font-size: 1.2rem;
}

.mainWrapper svg {
  color: #fc1f39;
  font-size: 7rem;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  padding: 1rem;
}

.tittleProjectCertification {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  border-radius: 1rem;
}

.wrapperButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: .5em .5em 0 0;
}

.wrapperCircle {
  /* outline: 2px solid red; */
  position: relative;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1388px) {
  .descriptionCertification {
    /* outline: 2px solid red; */
    width: 360px;
  }
}