.actions {
  color: #000;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.actions button {
  margin-bottom: .5rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 30px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}


.btn {
  width: 170px;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;

}

.btnAddProject {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #166dfb;
  z-index: 99;
}

.editAction, .deleteAction { color: #363636;  transition: color .5s ease;}

.editAction:hover {
  color: #0000ff;
}
.deleteAction:hover {
  color: #ff0000;
}

.detailsProject a { color: #5c5c5c; font-size: .78rem; }

.detailsProject {
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #eee;
}

.descriptionProject {
  width: 450px;
  height: auto;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.detailsProject a {
  position: absolute;
  right: 1rem;
  bottom: 0;
  padding-bottom: .3rem;
  font-size: 1rem;
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  transition: color .3s ease-in-out;
}

.descriptionProject a:hover {
  color: #0000ff;
}

.desription {
  color: #5c5c5c;
  font-weight: 500;
  height: auto;
}

.groupDetails {
  width: 500px;
  height: 70px;
  font-family: 'Poppins', sans-serif;
  /* background-color: red; */
}

.groupDetails h3 {
  margin: 0;
  color: #363636;
}

.groupDetails span {
  font-weight: 400;
}

.speciality {
  font-weight: 700;
  color: #028dd4;
  /* background-color: red; */
}

.logoProject {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}

.nav {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.notProjects {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.notProjects h3 {
  color: #04547e;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

.titleModal {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  border-radius: 6px;
}

.wrapperMain {
  position: relative;
  top: 2.5rem;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wrapperForm {
  outline: 2px solid red;
  position: relative;
  top: 2rem;
}

/* ESTILOS PARA FORMULARIO DE EXPERIENCIA PERSONAL */
.form, .formWorkExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 500px;
}