.actions {
  color: #000;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.editAction, .deleteAction { color: #363636;  transition: color .5s ease;}

.editAction:hover {
  color: #0000ff;
}
.deleteAction:hover {
  color: #ff0000;
}

.actions button {
  margin-bottom: .5rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 30px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.detailsProject a { color: #5c5c5c; font-size: .78rem; }

.detailsProject {
  /* background-color: red; */
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  border-bottom: 2px solid #eee;
}

.descriptionProject {
  width: 450px;
  height: auto;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.detailsProject a {
  transition: color .3s ease-in-out;
}

.descriptionProject a:hover {
  color: #0000ff;
}

.logoProject {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  border-radius: 6px;
}