.actions {
  color: #000;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.actions button {
  margin-bottom: .5rem;
  outline: none;
  border: none;
  background-color: transparent;
  width: 30px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}


.btn {
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.btnAddProject {
  position: sticky;
  top: 22rem;
  left: 37rem;
  bottom: .5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #028dd4;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #028ed43f;
  z-index: 99;
}

.btnGoToMain {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btnGoToMain {
  width: 150px;
  position: absolute;
  right: 12rem;
  bottom: 7rem;
  border-radius: 5px;
  border: none;
  height: 3rem;
  font-family: 'Poppins', sans-serif;

}

.btnSubmit {
  width: 150px;
  position: absolute;
  right: 1rem;
  bottom: 7rem;
  border-radius: 5px;
  border: none;
  height: 3rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSubmitWorkExperience {
  width: 100px;
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  border: none;
  height: 3rem;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.btnGoBack {
  width: 100px;
  position: absolute;
  right: 9rem;
  bottom: -1rem;
  border: none;
  height: 3rem;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.btnDeleteExperience {
  border: none;
  height: 3rem;
  width: 120px;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  background-color: #232436;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  transition: background-color .3s ease;
}

.btnDeleteExperience:hover {
  background-color: #ff0000;
  color: #fff;
}

.circleDelete {
  height: 8rem;
  width: 8rem;
  /* position: absolute; */
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fc1f39;
}

.container  > h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  /* outline: 2px solid blue; */
}

.editAction,
.deleteAction {
  color: #363636;
  transition: color .5s ease;
}

.editAction:hover {
  color: #028dd4;
}

.deleteAction:hover {
  color: #fc1f39;
}

.detailsProject a {
  color: #5c5c5c;
  font-size: .78rem;
}

.detailsProject {
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #eee;
}

.descriptionProject {
  width: 450px;
  height: auto;
  overflow: hidden;
}

.detailsProject a {
  position: absolute;
  bottom: 0;
  padding-bottom: .3rem;
  font-size: 1rem;
  color: #000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  transition: color .3s ease-in-out;
}

.descriptionProject a:hover {
  color: #0000ff;
}

.desription {
  color: #5c5c5c;
  font-weight: 500;
  height: auto;
}

.groupDetails {
  width: 500px;
  height: 70px;
  font-family: 'Poppins', sans-serif;
  /* background-color: red; */
}

.groupDetails h3 {
  margin: 0;
  color: #363636;
}

.groupDetails span {
  font-weight: 400;
}

.speciality {
  font-weight: 700;
  color: #028dd4;
  /* background-color: red; */
}

.logoProject {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}

.nav {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.notProjects {
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.notProjects h3 {
  color: #04547e;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

.titleModal {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.tittleProjectExperience {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
}

.textArea {
  resize: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  margin-top: .7rem;
  border-color: #9e9e9e;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  border-radius: 6px;
}

.wrapperMain {
  position: relative;
  top: 2.5rem;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wrapperForm {
  position: relative;
  top: 2rem;
}

.wrapperInput {
  display: flex;
  justify-content: space-between;
}

.wrapperCircle {
  /* outline: 2px solid red; */
  position: relative;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mainWrapper {
  /* outline: 2px solid red; */
  position: absolute;
  top: 3rem;
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  text-align: center;
  font-size: 1.2rem;
}

.mainWrapper svg {
  color: #fc1f39;
  font-size: 7rem;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  padding: 1rem;
}

.form,
.formWorkExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 500px;
}

.inputGroup_1_2 {
  /* background-color: red; */
  display: flex;
  gap: 1rem;
}

