svg {
  color: #90314b;
  font-size: 1rem;
}

.actions {
  width: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.btnApplyEmployment {
  background-color: transparent;
  border: none;
  outline: 2px solid #90314b;
  padding: .6rem;
  border-radius: 3px;
  transition: background-color .3s ease-in;
}

.btnApplyEmployment:hover {
  background-color: #90314b;
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.flex ul {
  margin-top: .5rem;
}

.flex li > span {
  margin-left: .4rem;
}

.like {
  background-color: #fff;
  border: none;
  padding: 0;
}
.like svg {
  color: #121212;
  transition: color 200ms;
}

.like.active svg { color: #ff2391; }

.requirements {}

.requirements ul {
  padding: 0;
}

.title {
  color: #90314b;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
}

.wrapper {
  background-color: #fff;
  font-family: sans-serif;
  height: 700px;
  width: 700px;
  border-radius: 8px;
  outline: 1px solid #ccc;
  overflow-y: scroll;
}
