/* ESTILOS DEL COMPONENTE CARD JOB */

.card {
  position: relative;
  width: 500px;
  height: auto;
  margin-bottom:1rem;
  background-color: #fff;
  border: 1px solid #dadada;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow .3s ease-in;
  color: #222;
  padding: .4rem 0 .4rem 1rem;
  font-family: sans-serif;
}

.card:hover { box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
                          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.card .cardHeader h3 { width: 450px; }

.cardHeader::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  border-left: 5px solid #8E0F4B;
}

.lineClamp {
  display: -webkit-box;
  margin: .5rem 0 .5rem 0;
  width: 450px;
  color: #7c7c7c;
  font-size: 1rem;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.nameCompany {
  font-size: .9rem;
  font-weight: 700;
  color: #222;
  font-weight: bold;
}

.placeholder {
  width: 450px;
  background-color: #ccc;
  border-radius: 3px;
  animation-name: placeholder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.tag {
  font-size: .8rem;
  color: #222;
  font-weight: bold;
}

.timeWork,
.salary,
.location,
.publicationTime { margin-bottom: .2rem; }

.timeWork, 
.location, 
.publicationTime, 
.profile {
  background-color: #e9edfc;
  height: 1.5rem;
  width: 177px;
  color: #0f6dfb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1rem;
  font-weight: bold;
  padding-left: .5rem;
  margin: 0;
}

.publicationTime {
  width: 245px;
  justify-content: flex-start;
  margin-top: .3rem;
  padding-left: .5rem;
}

.publicationTime svg, .timeWork svg {
  margin-right: .3rem;
  color: #0f6dfb;
}

.salary {
  background-color: #e9f4ef;
  color: #0b9e48;
  border-radius: 1rem;
  width: 235px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: .5rem;
  margin-top: .3rem;
}

.salary svg {
  color: #0b9e48;
  margin-right: .3rem;
}

.title {
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}

.wrapper {
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapperTags { width: 300px; }

.logoBusiness {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.logoBusiness img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}