/* ESTILOS PARA EL COMPONENTE CARDJOBLIST */

.grid {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  width: 70%;
  border-radius: 8px;
  background-color: #f6f8fb;
  position: relative;
}
