.card {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0;
  cursor: pointer;
}

.card_details {
  width: 100%;
  padding: .4rem 1rem;
}

.title_company {
  font-size: .75rem;
  font-weight: 700;
  color: #ccc;
}

.title_job {
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}

.description_job {
  font-size: ;
}

.tag {
  font-size: .75rem;
  color: rgb(116, 114, 114);
}