.btnSearch { height: 50px; width: 50px; position: relative; right: 1rem; }

.btnSearch svg { font-size: 1.5rem;}

.dataResultsJobs {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
  color: #2b2b2b;
  width: 400px;
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
  padding: 0;
  z-index: 10;
}

.dataResultsJobs::-webkit-scrollbar {
  width: 8px;
}

.dataResultsJobs::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.dataResultsJobs::-webkit-scrollbar-thumb {
  background-color: #0b5ed7;
  border-radius: 10px;
  border: 2px solid #64a2ff;
}

.dataItem {
  cursor: pointer;
  font-size: 1rem;
  padding: .8rem;
  margin: 0;
  transition: background-color .5s ease;
}

.dataItem:hover {
  color: #000;
  background-color: #e7e7e7;
}

.searchInput {
  margin: 1rem;
  width: 400px;
}

.searchContainer { 
  background-image: url(../../images//parallaxESCOM.jpg);
  background-attachment: fixed;
  background-position: 0 300%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.searchForm{
    position: relative;
    top: 5rem;
    /* left: 25rem; */
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    border-radius: 8px;
    width: 930px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
/* .searchForm > label { margin: 1rem 1rem 0 1rem; } */

.title {
  backdrop-filter: blur(30px);
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.title > span {
  color: #a5d0d8;
  font-weight: bold;
  font-size: 2.2rem;
}