.dataResultsJobs {
  position: absolute;
  top: 4rem;
  left: -1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #00000097;
  backdrop-filter: blur(10px);
  box-shadow: #1C8EFB 0px 1px 1px, #1C8EFB 0px 1px 1px;
  color: #FFF;
  width: 355px;
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
  padding: 0;
  z-index: 10;
}

.dataResultsJobs::-webkit-scrollbar {
  width: 8px;
}

.dataResultsJobs::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.dataResultsJobs::-webkit-scrollbar-thumb {
  background-color: #0b5ed7;
  border-radius: 10px;
  border: 2px solid #64a2ff;
}

.dataItem {
  cursor: pointer;
  font-size: 1rem;
  padding: .8rem;
  margin: 0;
  transition: background-color .5s ease;
}

.dataItem:hover {
  color: #000;
  background-color: #e7e7e7;
}
