/* ESTILOS PARA EL SELECT DE FILTRADO POR PERFIL */
select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;

  flex: 1;
  padding: 0 1rem;
  color: #222;
  background-color: #f3f3f3;
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 10rem;
  height: 3rem;
  border-radius: .25rem;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #bfbfbf;
  transition: color .3s ease-out;
  pointer-events: none;
}

.select:hover::after {
  color: #0d5ed7;
}