/* ESTILOS PARA EL SELECT DE FILTRADO POR PERFIL */
select {
  appearance: none;
  outline:;
  border: 1px solid #028dd4;
  border-radius: 1rem;
  padding-left: .5rem;
  box-shadow: none;
  flex: 1;
  font-size: .9rem;
  color: #222;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 11rem;
  height: 2rem;
  border-radius: .25rem;
  overflow: hidden;
}

.selectProfile { width: 8rem; }

.selectModalityJob { width: 8rem;}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  background-color: #028dd4;
  color: #fff;
  transition: color .3s ease-out;
  pointer-events: none;
  /* border-radius: 0 1rem 1rem 0; */
}

/* ESTILOS PARA EL CHECKED */

.wrapperSwitch {
  margin: 1rem;
  /* outline: 2px solid red; */
  position: relative;
  display: flex;
  align-items: center;
}

.inputSwitch {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.inputSwitch:checked + .check { background-color: #65d100; }

.inputSwitch:checked + .check::before { left: 20px; }

.sliderSwitch {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #bfbfbf;
  position: relative;
  transition: background-color .2s, box-shadow .2s;
}

.sliderSwitch::before {
  /* formamos el circulo del switch */
  content: "";
  position: absolute;
  top: 2.4px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: .2s;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, .2);
}

.label {
  margin-left: .5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
}