.card {
  width: 260px;
  height: 270px;
  outline: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow .3s, transform .3s ease-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translateY(-3%);
}

.release {
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.release img {
  width: 260px;
  height: 220px;
  object-fit: contain;
}

.releaseCompany {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
}

.releaseCompany button {
  background-color: transparent;
  border: none;
  outline: 2px solid blue;
  border-radius: 4px;
  padding: .3rem;
  width: 100px;
  font-weight: 500;
}