.btnEdit {
  position: absolute;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  transition: background-color .3s ease-in-out;
  border-radius: 50%;
}

.btnEdit:hover {
  background-color: #c0e3f4;
  color: #038dd4;
}

.btnSave {
  width: 120px;
  height: 3rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #232436;
  outline: none;
  transition: background-color .3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btnSave:hover {
  background-color: #adff2f;
  color: #232436;
  border: none;
}

.flex_1_2 {
  display: flex;
  justify-content: space-between;
  margin-top: .2rem;
}

.salary, .employmentModality { font-weight: 400; }

.title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.textArea {
  resize: none;
  outline: none;
  border: 2px solid #cccbcb;
  border-radius: 5px;
}
.tip, .totalChar {
  font-size: .89rem;
  color: #616161;
  font-weight: 500;
}

.wrapper {
  position: relative;
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 240px;
  width: 100%;
  background-color: #232436;
  font-weight: 400;
  /* background-image: url(../../../images/wave-haikei.png); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

/* .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.wrapperTextEdit {
  /* outline: 2px solid red; */
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapperTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  /* outline: 2px solid red; */
  height: 270px;
}