.title {
	text-transform: uppercase;
}

.icon {
	vertical-align: middle;
	font-size: 1.3rem;
	margin-right: 3px;
	color: #8E0F4B;
}

.text {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 15px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.compone {
	border-color: #8E0F4B;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	/* animation-delay: 4s;
		animation: fadeIn 2s ease-in; */
}