.CompOne {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
/* 
  animation-delay: 4s;
  animation: fadeIn 2s ease-in; */
  /*border-color: black;
  border-width: 1px;
  border-style: solid;*/
}
.contaCards{
  display: flex;

}
h5{
font-weight:normal;
}

.Cards{
  margin-top: 1em;
  display: flex;
  margin-left: 1em;
}

/* KEYFRAMES */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 */