.objects {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salary {
  width: 30%;
  text-align: center;
}

.mode {
  width: 30%;
  text-align: center;
}



h5,
h6 {
  font-weight: normal;
}

.tex {
  vertical-align: middle;
  font-size: .9rem;
}

.edit {
	display: none;
}

.objects:hover .edit {
	display: block;
}

